@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto Slab';
}

div#header {
  width: 100%;
  height: 50px;
  background-color: #1a66ff;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 4px;
  margin-left: 5px;
}

.logo a {
  font-size: 1.6em;
  color: #fff;
}

.logo a span {
  font-weight: 800;
}

.logout {
  width: 100px;
  height: 100%;
  float: right;
  margin-top: 10px;
  margin-right: 5px;
  overflow: hidden;
}

.ic-salida {
  float: right;
  margin-top: 3px;
}


.logout a {
  float: right;
  font-size: 1.3em;
  color: #fff;
}

div#container {
  width: 100%;
  margin: 0 auto;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #171717;
  float: left;
}

.content {
  width: auto;
  margin-left: 250px;
  height: 100%;
  background-color: #fff;
  padding: 15px;
}

ul#nav {

}

ul#nav li {
  list-style: none;
}

ul#nav li a {
  color: #ccc;
  display: block;
  font-size: 0.8em;
  padding: 10px;
  border-bottom: 1px solid #0A0A0A;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

ul#nav li a i {
  margin-left: 10px;
  display: table-cell;
	vertical-align: middle;
  float: left;
}

ul#nav li a p {
  margin-top: 5px;
  margin-left: 5px;
  display: table-cell;
	vertical-align: middle;
  float: left;
}

ul#nav li a:hover {
  background-color: #030303;
  color: #fff;
  padding-left: 30px;
}

ul#nav li a.selected {
  background-color: #030303;
  color: #fff;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
